#Row1 {
    background-color: beige;
<<<<<<< HEAD
}

#Row2 {
    background-color: aqua;
}

#drink-images {
    height: 400px;
    width: 280px;
}
=======
 }
 #Row2 {
    background-color: aqua;
 }
 #drink-images {
    height: 400px;
    width: 280px;
 }
>>>>>>> 245c850ee6b5eb778a204b0f0d4194de7f2c1240
